<footer class="text-white p-6 flex flex-col items-center font-bold bg-cover bg-center"
    style="background-image: url('assets/terastal.jpg'); background-color: rgba(0, 0, 0, 0.5); background-blend-mode: overlay;">
    <p class="mb-4">Siga-nos em nossas redes sociais</p>
    <div class="flex space-x-6">
        <a href="https://x.com/EEvolutionVGC?t=aeWFcAAJkcROF29jljLQrA&s=09" target="_blank" class="hover:text-gray-300">
            <i class="fab fa-x fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/eevolutionvgc?igsh=MWRjendpcDIyeHYxaA==" target="_blank"
            class="hover:text-gray-300">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
    </div>
</footer>