<header class="bg-gray-700 text-white p-4 flex flex-col sm:flex-row items-center w-full">
    <div class="sm:basis-1/6 lg:ml-12">
        <a href="/" class="inline-block"><img src="assets/extreme_evolution.png" alt="Logo" class="h-20"></a>
    </div>
    <nav
        class="flex flex-col sm:flex-row sm:basis-5/6 w-full sm:w-auto sm:justify-around space-y-4 sm:space-y-0 text-center">
        <a href="#sobrenos" class="hover:text-gray-300">Quem somos</a>
        <a href="#players" class="hover:text-gray-300">Nossos Players</a>
        <a href="#titulos" class="hover:text-gray-300">Nossos Títulos</a>
    </nav>
</header>