<div class="my-10 flex items-center justify-center text-center p-4">
    <div class="max-w-3xl">
        <img src="assets/extreme_evolution.png" class="h-52 mx-auto block mb-8">
        <section id="sobrenos">
            <h1 class="text-4xl font-bold mb-4" style="font-family: 'SUSE', sans-serif;">Quem Somos</h1>
        </section>
        <p class="text-lg font-sans">
            Extreme Evolution eSports, fomos o primeiro time brasileiro de VGC criado em 2017 pela Juiza Ary Luz. Após a
            sua saída em 2018, Gustavo Braz assumiu a liderança e continua até os dias de hoje. A equipe, também
            conhecida como EEE ou raposas, tem como objetivo revelar grandes promessas do VGC BR e da América Latina
            para prepará-los a competir nos torneios presenciais. As raposas é a única equipe brasileira com mais
            títulos, 3 no total, sendo campeão duas vezes da SuperLiga LCV em 2021 e 2023 (as estrelas em nosso escudo
            representam esses títulos) e da Recopa Latina 2022. Sem
            contar que é única equipe brasileira com mais participações (4) ao todo na VCL, que é o torneio de liga
            Mundial por equipes.
        </p>
    </div>
</div>