<div class="my-20 flex items-center justify-center text-center p-4">
    <div class="max-w-3xl">
        <section id="titulos">
            <h1 class="text-4xl font-bold mb-4" style="font-family: 'SUSE', sans-serif;">Nossos Títulos</h1>
        </section>
        <div class="flex flex-col sm:flex-row sm:justify-between gap-8">
            <div class="flex-1">
                <img src="/assets/superliga21.jpeg" alt="Título 1" class="w-full">
                <p class="mt-2 text-lg font-sans">Superliga 2021</p>
            </div>
            <div class="flex-1">
                <img src="/assets/recopa.jpeg" alt="Título 2" class="w-full">
                <p class="mt-2 text-lg font-sans">Recopa Latina 2023</p>
            </div>
            <div class="flex-1">
                <img src="/assets/superliga23.jpeg" alt="Título 3" class="w-full">
                <p class="mt-2 text-lg font-sans">Superliga 2023</p>
            </div>
        </div>
    </div>
</div>