<div class="my-20 flex items-center justify-center text-center p-4">
    <div class="max-w-3xl">
        <section id="titulos">
            <h1 class="text-4xl font-bold mb-4">Nossos Títulos</h1>
        </section>
        <p class="text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate leo sit amet urna laoreet, id
            venenatis dui faucibus.
            Aliquam erat volutpat. Pellentesque commodo, nisl at vehicula auctor, sapien risus convallis justo, non
            interdum eros sapien at erat.
        </p>
    </div>
</div>